body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#gameCanvas {
    border: 2px solid white;
    background-color: #111;
}
